#logoNav{
    width: 180px;
}

.navbar {
    background: linear-gradient(to right, #ff0090 0%, #151b8d 100%);
    padding: 0px;
}

.banner {
    background-image: url("images/bg12.jpg");
    background-size: cover;
}


.banner-content {
    margin-top: 10rem;
}

#bannerImg {
    width: 500px;
    margin-left: 300px;
    
}

.courses {
    padding: 40px;
}

.course-list {
    list-style-type: none;
    padding: 0px;
    display: inline-flex;
    margin: 10px 0px;
    
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt{
    color: blue;
}

.fa-square-js{
    color: yellow;
}

.fa-bootstrap{
    color: blueviolet;
}

.fa-react{
    color: #61dbfb;
}

.course-list li {
    width: 20%;
    padding: 20px 40px;
    margin: 10px;
    background-color: #f5fffa;
    
}

.lets-start {
    background: linear-gradient(to right, #ff0090 0%, #151b8d 100%);
    padding: 30px;
}